#nav{
position: fixed;
bottom: 10px;
height: 60px;
background-color: #333;
color: #fff;
padding: 20px 15px 5px 25px ;
text-align: center;
z-index: 1000;
box-sizing: border-box;
max-width: 100%;
position: center;
left: 600px;

}
#nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
#nav li{
    margin-right: 20px;
}
#nav a{
    color: #fff;
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background:linear-gradient(transparent,#30ff00);
    border-radius: 6px;
}
